.message {
  display: flex;
  align-items: center;
  margin-top: 15px;

  .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    align-self: flex-start;
    margin-top: 15px;
  }

  .body {
    position: relative;
    height: 100%;
    flex-grow: 1;

    .text {
      border-radius: 5px;
      padding: 10px;
      overflow-wrap: break-word;
      background-color: aliceblue;
    }

    .userName {
      left: 5px;
      position: relative;
      font-size: 12px;
    }
  }
}
